button .left{
border-radius: 50%;
}
button .right{
border-radius: 50%;
}
.button5 {
    background-color: #EEEEEE;
    color: black;
    border: 2px solid #555555;
    border-radius: 50%;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

header {
  display: block;
  text-align: center;
  background-image: url("../img/pseal.jpg");
  background-position: center;


}
header .container {
  padding-top: 10px;
  padding-bottom: 10px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .term {
  font-size: 1.25em;
  font-weight: 300;
}
header .intro-text .party {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

hr {
  margin-top: 15px;
margin-bottom: 15px;
border: 0;
border-top: 5px solid #eee;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFFFFF;
  border-radius: 0px;
  border: 2px solid #E6E4D3;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #E6E4D3;
  border: 3px solid #E6E4D3;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFFFFF;
  border-radius: 50px;
  border: 2px solid #E6E4D3;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #E6E4D3;
  border: 3px solid #E6E4D3;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFFFFF;
  border: 2px solid #E6E4D3;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 2px solid #E6E4D3;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #E6E4D3;
  border: 3px solid #E6E4D3;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF;
}


.spanbg{
  background-image: url(../img/parchment.jpg);
  background-size: 100% 100%;
  background-color: #cec79a;

}

/***** CAROUSEL ******/
